<p class="pageHeader">$customer.getName() Bookings</p>

<table class="table">
<tr>
    <th>Date & Time</th>
    <th>Capacity</th>
    <th>Table of</th>
    <th>Discount Applied</th>
</tr>
#foreach($booking in $bookings)
<tr>
    <td>$booking.prettyTimeDate()</td>
    <td>$booking.getCapacity()</td>
    <td>$booking.getSeating().getChairs()</td>
    <td>$booking.getDiscountApplied()</td>
</tr>
#end
</table>
<a href="/customers/$customer.getId()">$customer.getName() Profile</a>
