<p class="pageHeader">$customer.getName() Bookings</p>

#foreach($booking in $bookings)
<h6>Date and Time:</h6>
<p>$booking.prettyTimeDate()</p>
<h6>Capacity</h6>
<p>$booking.getCapacity()</p>
<h6>Price Per Head:</h6>
<p>$booking.getPricePerHead()</p>
#end

<a href="/customers/$customer.getId()">$customer.getName() Profile</a>
