<p class="pageHeader">Customer -</p>

<div>
    <p>Customer ID: $customer.getId()</p>
    <p>Name: $customer.getName()</p>
    <p>Loyalty Card No: $customer.getLoyaltyCard()</p>
    <p>Bookings: </p>
</div>

<a href="/customers/$customer.getId()/edit">Edit Customer</a>