<!DOCTYPE html>
<html>
<head>
    <title>Jurrassic Snack</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<!-- begin inner template-->
<div class="container">
   #parse( $template )
</div>
<!-- end inner template-->
</body>
</html>