<!DOCTYPE html>
<html>
<head>

    <title>Jurassic Snack</title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa|Montserrat" rel="stylesheet">

</head>
<body>
<div class="nav-bar">
    <ul>
        <li><a href="/bookings">Bookings</a></li>
        <li><a href="/customers">Customers</a></li>
    </ul>
</div>
<!-- begin inner template-->
<div class="container">
   #parse( $template )
</div>
<!-- end inner template-->
</body>
</html>